main.timeline {
    min-width: 300px;
    max-width: 800px;
    margin: auto;
}

main.timeline p {
    font-size: 1.25em;
    line-height: 1.75em;
    border-top: 3px solid;
    border-image: linear-gradient(to right, #5aa8f9 0%, #ffa8f0 100%);
    border-image-slice: 1;
    border-radius: 1.5rem;
    margin: 0;
    padding: 27px;
    padding-top: 20px;
    counter-increment: section;
    position: relative;
    color: $black;

  &:before {
      content: counter(section);
      position: absolute;
      border-radius: 50%;
      padding: 10px;
      height: 1.25em;
      width: 1.25em;
      background-color: $black;
      text-align: center;
      line-height: 1.25em;
      color: $white;
      font-size: 1em;
  }
}

.timeline p:nth-child(odd) {
    text-align: right;
      border-right: 3px solid;
      padding-left: 0;

&:before {
     left: 100%;
     margin-left: -20px;
 }
}

.timeline p:nth-child(even) {
      border-left: 3px solid;
      padding-right: 0;

&:before {
     right: 100%;
     margin-right: -20px;
 }
}

.timeline p:first-child {
      border-top: 0;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
  }
.timeline p:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
